led_con.json
[{"id":"6755fe40.ae756","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"e9a51535.941718","type":"mqtt out","z":"6755fe40.ae756","name":"","topic":"outTopic","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"60e15727.0c80b8","x":340,"y":100,"wires":[]},{"id":"16445a19.961616","type":"ui_text","z":"6755fe40.ae756","group":"623e9774.efac58","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":180,"wires":[]},{"id":"69774bff.0ccbc4","type":"ui_switch","z":"6755fe40.ae756","name":"","label":"switch","tooltip":"","group":"623e9774.efac58","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":130,"y":100,"wires":[["e9a51535.941718","16445a19.961616"]]},{"id":"60e15727.0c80b8","type":"mqtt-broker","name":"","broker":"192.168.25.41","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"623e9774.efac58","type":"ui_group","name":"거실","tab":"c98d75d0.8ac338","order":2,"disp":true,"width":"6","collapse":false},{"id":"c98d75d0.8ac338","type":"ui_tab","name":"나의 집","icon":"dashboard","disabled":false,"hidden":false}]